body{
    background-color: rgb(59, 95, 95);
}
header {
    background: rgb(28, 73, 73);
    width: 100%;
    position:absolute;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px;
}
.TopNav {
    float: right;
    width: 35%;
}

.TopNav ul{
    list-style: none;
}

.TopNav ul li {
    display: inline-block;
    padding: 3%;
}

.TopNav ul li a {
    color: rgb(3, 2, 2);
    font-size: large;
}
.TopNav ul li a:hover{
    color: rgb(190, 190, 190);
    border-bottom: rgb(190, 190, 190); 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: rgb(59, 95, 95);
}
.box {
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p {
    font-size: 24px;
    color: black;
}
.contenido h3{
    text-align: center;
    font-size: 2rem;
}

.button-container {
    margin-top: 20px;
}

.color-button {
    margin-right: 10px;
}

.contenedor-slider
{
    display: flex;
    align-items:center;
    gap: 40px;
    max-width: 1200px;
    padding-left: 10%;
    padding-top: 8%;
    
}
.slider-izquierdo, .slider-derecho
{
    width: 5%;
}
.slider-izquierdo img, .slider-derecho img
{
    width: 100%;
}
.slider-inicio
{
    padding-top: 8%;
    width: 90%;
}
.slider-inicio img
{
    width: 100%;
    height: 500px;
}
.content{
    padding-top: 10%;
}
.calculadora {
    background-color: rgba(39, 254, 254, 0.213);
    padding: 20px; /* Añade un relleno interior para separar el contenido de los bordes */
    margin: 0 auto; /* Centra el elemento horizontalmente en la página */
    width: 400px; /* Establece un ancho fijo para darle una forma rectangular */
    border: 1px solid #47391f; /* Agrega un borde para definir mejor el área de la calculadora */
    border-radius: 10px; /* Añade esquinas redondeadas para una apariencia más suave */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); /* Aplica una sombra para resaltar el elemento */
}
.inputs{
    padding-left: 28%;
}
button{
    background-color: aquamarine;
    border-radius: 5px;
    width: 100px;   
    border-color: aquamarine;
}
.botones {
    display: flex;
    justify-content: space-around; /* Distribuye los botones equitativamente en el contenedor */
    padding: 10px; /* Agrega un pequeño espacio entre los botones y el borde de la calculadora */
}
.textboxs{
    padding-left: 20%;
}